// type backgrounds
.normal {
  background-color: grey;
}

.fire {
  background-image: linear-gradient(#e58061, #dbb469);
}

.water {
  background-color: #15d0dc;
}

.electric {
  background-color: rgb(207, 205, 43);
}

.grass {
  background-image: linear-gradient(#7ecd8b, #89e2b3);
}

.ice {
  background-color: aqua;
}

.fighting {
  background-color: rgb(160, 70, 35);
}

.poison {
  background-color: rgb(94, 16, 184);
}

.ground {
  background-color: rgb(180, 137, 102);
}

.flying {
  background-color: rgb(131, 190, 194);
}

.psychic {
  background-color: rgb(214, 93, 149);
}

.bug {
  background-color: rgb(43, 94, 38);
}

.rock {
  background-color: burlywood;
}

.ghost {
  background-color: rgb(133, 93, 151);
}

.dragon {
  background-color: rgb(99, 99, 209);
}

.fairy {
  background-color: rgba(230, 26, 185, 0.466);
}

// other
.pokedexTitle {
  position: absolute;
  height: 41px;
  left: 16px;
  right: 16px;
  top: 90px;

  /* Default/Bold/LargeTitle */
  font-family: 'SF Pro Display';
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;

  /* identical to box height, or 121% */
  letter-spacing: 0.374px;

  /* Dark 1 */
  color: #1f2029;
}

.pokedexTitle {
  font-family: 'SF Pro Text', 'SF Pro Display', -apple-system,
    BlinkMacSystemFont, Roboto, 'Segoe UI', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.searchPokemon {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7px 8px;
  gap: 6px;

  position: absolute;
  width: 343px;
  height: 36px;
  left: 16px;
  top: 145px;

  background: #eff0f1;
  border-radius: 10px;
}

.myTeam {
  position: absolute;

  width: 167px;
  height: 100px;
  left: 16px;
  top: 200px;

  /* Purple Gradient */
  background: linear-gradient(109.73deg, #46469c 0%, #7e32e0 100%);
  border-radius: 10px;
}

.myFave {
  position: absolute;

  width: 167px;
  height: 100px;
  left: 192px;
  top: 200px;

  /* Green Gradient */
  background: linear-gradient(109.73deg, #65cb9a 0%, #15d0dc 100%);
  border-radius: 10px;
}

.pokemonlist-container {
  width: 340px;
}

.listItem {
  background: #ffffff;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
}
