// type buttons
.normalBackground {
  background-color: #a3acae;
}

.fireBackground {
  background-color: #fd7d25;
}

.waterBackground {
  background-color: #4592c3;
}

.electricBackground {
  background-color: #dcdc16;
}

.grassBackground {
  background-color: #95c24d;
}

.iceBackground {
  background-color: #06bfbf;
}

.fightingBackground {
  background-color: #a04623;
}

.poisonBackground {
  background-color: #ba7ec8;
}

.groundBackground {
  background-color: #b48966;
}

.flyingBackground {
  background-color: #83bec2;
}

.psychicBackground {
  background-color: #d65d95;
}

.bugBackground {
  background-color: #2b5e26;
}

.rockBackground {
  background-color: burlywood;
}

.ghostBackground {
  background-color: #7b62a3;
}

.dragonBackground {
  background: linear-gradient(180deg, #6363d1 0%, #8080d1 100%);
}

.fairyBackground {
  background: linear-gradient(180deg, #e61ab9 0%, #df5cc3 100%);
}

.grassBackground {
  background: linear-gradient(180deg, #7ecd8b 0%, #89e2b3 100%);
}

#pokemonTypeButton {
  display: flex;
  border-radius: 10px;
  padding: 10px;
  width: 65px;
  height: 20px;
  text-align: center;
}
// backgrounds

// type buttons
.normal {
  background-color: #a3acae;
}

.fire {
  background-color: #fd7d25;
}

.water {
  background-color: #4592c3;
}

.electric {
  background-color: #dcdc16;
}

.grass {
  background-color: #95c24d;
}

.ice {
  background-color: #06bfbf;
}

.fighting {
  background-color: #a04623;
}

.poison {
  background-color: #ba7ec8;
}

.ground {
  background-color: #b48966;
}

.flying {
  background-color: #83bec2;
}

.psychic {
  background-color: #d65d95;
}

.bug {
  background-color: #2b5e26;
}

.rock {
  background-color: burlywood;
}

.ghost {
  background-color: #7b62a3;
}

.dragon {
  background-color: #6363d1;
}

.fairy {
  background-color: #e61ab9;
}

// font import

body * {
  font-family: 'SF Pro Text', 'SF Pro Display', -apple-system,
    BlinkMacSystemFont, Roboto, 'Segoe UI', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

// IndexPage

.pokedex,
.mainContainer {
  position: relative;
  margin: auto;
  max-width: 375px;
}
// other
.pokedexTitle {
  height: 41px;
  margin-top: 4rem;
  margin-left: 1rem;
  left: 16px;
  right: 16px;
  top: 90px;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.374px;
  color: #1f2029;
}

.searchPokemon {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 1rem;
  margin-top: 1rem;
  width: 343px;
}

.button-container {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  cursor: pointer;
}

// Trainerbuttons

.myTeam {
  display: flex;
  width: 167px;
  height: 100px;
  left: 16px;
  top: 200px;
  background: linear-gradient(109.73deg, #46469c 0%, #7e32e0 100%);
  border-radius: 10px;
}
.myTeam:hover {
  background: #a780da;
}

.myFave {
  display: flex;
  margin-left: 0.5rem;
  width: 167px;
  height: 100px;
  left: 192px;
  top: 200px;
  background: linear-gradient(109.73deg, #65cb9a 0%, #15d0dc 100%);
  border-radius: 10px;
}
.myFave:hover {
  background: #03b6c3;
}

#TrainerButtonTitle {
  display: flex;
  margin-top: 3rem;
  margin-left: 1rem;
  width: 86px;
  height: 22px;
  left: 31px;
  top: 246px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #ffffff;
}

#TrainerButtonInfo {
  display: flex;
  margin-left: 1rem;
  width: 84px;
  height: 22px;
  left: 31px;
  top: 268px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: rgba(255, 255, 255, 0.5);
}

.Pokebal {
  margin-left: -1rem;
}

// PokemonList

.pokemonlist-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 1rem;
  gap: 10px;
  width: 340px;
}

.listItem {
  display: flex;
  width: 340px;
  height: 70px;
  left: 19px;
  top: 320px;
  background: #ffffff;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  gap: 5px;
  cursor: pointer;
}

.listItem:hover {
  background: #d0d8d8;
}

#listImage {
  display: flex;
  margin-left: 1rem;
  margin-top: 0.6rem;
  width: 50px;
  height: 50px;
  left: 33px;
  top: 330px;
}

#types {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 12.3rem;
  margin-top: -2.4rem;
  padding: 3px 10px;
  gap: 10px;
  border-radius: 10px;
  width: 52px;
  height: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 0px;
  text-align: right;
  letter-spacing: 0.374px;
  color: #ffffff;
}

#name {
  display: flex;
  margin-top: 1rem;
  width: 54px;
  height: 20px;
  left: 99px;
  top: 335px;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.374px;
  color: #000000;
}

#id {
  display: flex;
  width: 52px;
  height: 18px;
  left: 99px;
  top: 356px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.374px;
  color: #919698;
}

#pointSymbol {
  margin-left: 15.5rem;
  margin-top: -1.1rem;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  color: #babec2;
}

// Header

.toolbar {
  position: relative;
  margin: auto;
  max-width: 370px;
  justify-content: flex-end;
}

.Filter {
  margin-right: 0.6rem;
  cursor: pointer;
}

.sortIcons {
  margin-top: 0.3rem;
  cursor: pointer;
}
.sortTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.408px;
  margin-bottom: 1.3rem;
  padding-left: 0.5rem;
  color: #1f2029;
}

// Modal
.modal {
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.showModal {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.4s ease-in, visibility 0ms ease-in 0ms;
}

.hideModal {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s ease-in, visibility 0ms ease-in 0.2s;
}

.modal-content {
  position: fixed;
  max-width: 375px;
  bottom: 0;
  left: calc((100% - 375px) / 2);
  align-items: center;
  background-color: #fefefe;
  border-radius: 10px;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
}

.typeForm {
  margin: 0 1rem 1rem 1rem;
}

.formTypeButton {
  margin-bottom: 1rem;

  margin-top: 1rem;
  margin-left: 2.6rem;
}
.toepassen {
  width: 343px;
  height: 44px;
  left: 16px;
  top: 734px;
  cursor: pointer;
  margin-left: -1.5rem;
  background: #1f2029;
  border-radius: 100px;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.408px;
  color: #ffffff;
}

.close {
  color: grey;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 30px 20px;
  background-color: white;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.408px;
  border-radius: 10px;
  color: #1f2029;
}
@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

// DetailPage

// Header
#Back {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

#BackSymbol {
  display: flex;
  width: 18px;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 23px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.38px;
  color: white;
}

#BackText {
  display: flex;
  width: 44px;
  height: 22px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: -0.408px;
  color: white;
}

.DetailTitle {
  display: flex;
  height: 41px;
  left: 16px;
  right: 16px;
  margin-left: 1rem;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.374px;
  color: white;
}

.DetailImage {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  margin-left: 5rem;
  margin-bottom: 1rem;
  width: 207px;
  height: 207px;
  left: 77px;
}

.Shadow {
  width: 213px;
  height: 12px;
  left: 81px;
  z-index: 1;
  margin-top: -2rem;
  background: rgba(0, 0, 0, 0.3);
  filter: blur(15px);
}

.infoContainer {
  display: flex;
  flex-direction: column;
  width: 343px;
  height: 330px;
  left: 16px;
  top: 420px;
  margin-left: 1rem;
  margin-bottom: 2rem;
  background: #ffffff;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
}

#description {
  display: flex;
  margin-top: 1.3rem;
  margin-left: 1rem;
  margin-bottom: 1.3rem;
  width: 303px;
  height: 54px;
  left: 36px;
  top: 443px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.408px;
  color: #000000;
}

.topText {
  width: 46px;
  height: 14px;
  left: 16px;
  top: 399px;
  margin-left: 1.1rem;
  margin-bottom: 0.5rem;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.374px;
  color: #ffffff;
}

.info {
  display: flex;
  width: 59px;
  height: 18px;
  left: 36px;
  top: 552px;
  margin-left: 1rem;
  margin-bottom: 1rem;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.408px;
  color: #acb2c1;
}

.answerButtonText {
  display: flex;
  margin-left: 0.5rem;
  padding: 3px 10px;
  gap: 10px;
  border-radius: 10px;
  width: 52px;
  height: 20px;
  left: 214px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  text-align: right;
  letter-spacing: 0.374px;
  color: #ffffff;
}

.answer {
  width: 206px;
  height: 18px;
  left: 159px;
  top: 552px;
  margin-left: 4rem;
  margin-bottom: 1rem;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.408px;
  color: #1f2029;
}

#progressBar,
#progressBar90 {
  margin-top: 0.4rem;
}

#numberStats,
#numberStats90 {
  margin-left: 1rem;
}

.answer::first-letter {
  text-transform: capitalize;
}

#pokemonTypeInfoButton {
  display: flex;
  border-radius: 10px;
  width: 65px;
  height: 20px;
}

#typesDetailButton {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 52px;
  height: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 0;
  letter-spacing: 0.374px;
  color: #ffffff;
}

.infoBold {
  font-weight: 600;
}
#type,
#number,
#height,
#weight,
#sex,
#ability,
#category {
  display: flex;
  flex-direction: row;
}

.statContainer {
  display: flex;
  flex-direction: column;
  padding: 20px 10px 10px 5px;
  margin-left: 1rem;
  margin-bottom: 2rem;
  width: 343px;
  height: 280px;
  left: 16px;
  top: 802px;
  background: #ffffff;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
}

.numberStat {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  margin-left: 0.5rem;
  letter-spacing: -0.408px;
  color: #1f2029;
}

.movesetContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 1rem;
  margin-bottom: 2rem;
  width: 343px;
  height: 105px;
  left: 16px;
  top: 1077px;
  background: #ffffff;
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.04);
  border-radius: 10px;
}

.moveset {
  display: flex;
  flex-direction: row;
}

.level {
  display: flex;
  align-items: center;
  background-color: rgba(164, 126, 189, 0.719);
  border: 1.3px solid rgb(126, 39, 184);
  padding: 0.8rem 1rem;
  border-radius: 1rem;
  margin: 1rem 0.5rem 0.5rem 1rem;
  width: 4.5rem;
  height: 1.3rem;
  font-style: normal;
  font-weight: 800;
  font-size: 9px;
  line-height: 14px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #643cc0;
}

.moveName {
  width: 4rem;
  height: 20px;
  left: 108px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 55px;
  letter-spacing: -0.5px;
  color: #1f2029;
}

.moveName::first-letter {
  text-transform: uppercase;
}

.detailPageHeader {
  backdrop-filter: blur(100px);
  position: fixed;
  max-width: 375px;
  left: calc((100% - 375px) / 2);
}

.PokemonDetailContainer {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.Heart {
  margin-top: -1.1rem;
  margin-left: 330px;
  cursor: pointer;
}

// Fave Page

.faveTitle {
  margin-top: 3rem;
  display: flex;
  height: 41px;
  left: 16px;
  right: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 34px;
  line-height: 41px;
  letter-spacing: 0.374px;
  color: white;
}

.mainContainer {
  background: linear-gradient(109.73deg, #65cb9a 0%, #15d0dc 100%);
}
