// type backgrounds
.normal {
  background-color: grey;
}

.fire {
  background-image: linear-gradient(#e58061, #dbb469);
}

.water {
  background-image: linear-gradient(49, 79, 211, 0.644);
}

.electric {
  background-color: rgb(207, 205, 43);
}

.grass {
  background-image: linear-gradient(#7ecd8b, #89e2b3);
}

.ice {
  background-color: aqua;
}

.fighting {
  background-color: rgb(160, 70, 35);
}

.poison {
  background-color: rgb(94, 16, 184);
}

.ground {
  background-color: rgb(180, 137, 102);
}

.flying {
  background-color: rgb(131, 190, 194);
}

.psychic {
  background-color: rgb(214, 93, 149);
}

.bug {
  background-color: rgb(43, 94, 38);
}

.rock {
  background-color: burlywood;
}

.ghost {
  background-color: rgb(133, 93, 151);
}

.dragon {
  background-color: rgb(99, 99, 209);
}

.fairy {
  background-color: rgba(230, 26, 185, 0.466);
}

// other
